<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<add key="NugetProvider" value="https://35.232.251.113:5555/nuget" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="nuget.org" value="True" />
	    <add key="NugetProvider" value="True" />
	</activePackageSource>
	<packageRestore>
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>